.app-footer {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

    p {
        margin-bottom: 5px;
    }

    .links {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-bottom: 20px;

        a {
            color: white;
            border: none;
            text-decoration: none;;
        }
    }
}