:root {
  --ui-accent: #0059ff;
  --ui-error: hsl(350, 100%, 58%);
  --ui-info: hsl(216, 100%, 58%);
  --ui-success: #07bc0c;
  --ui-alert: #f1c40f;

  --ui-light: hsl(220, 60%, 2%);
  --ui-dark: white;

  --ui-text: var(--ui-dark);
  --ui-text-invert: var(--ui-light);

  --ui-background-high: hsl(215, 0%, 11%);
  --ui-background-mid-high: hsl(215, 0%, 14%);
  --ui-background-mid: hsl(212, 0%, 16%);
  --ui-background-low: hsl(214, 0%, 18%);

  --ui-background-body: #0d1117;
  --ui-background-input: var(--ui-background-high);
  --ui-background-document-preview: var(--ui-background-body);

  --ui-window-header: var(--ui-background-mid-high);
  --ui-modal-border: var(--ui-input-border);
  --ui-modal-overlay: var(--ui-overlay-light-max);
  --ui-scrollbar: var(--ui-background-high);
  --ui-scrollbar-thumb: var(--ui-background-low);

  --ui-focus-outline: var(--ui-background-low);

  --ui-input-border: var(--ui-background-low);
  --ui-input-autofill: var(--ui-background-input);
  --ui-input-autofill-border: var(--ui-input-border);
  --ui-input-invalid-border: var(--ui-error);

  --ui-overlay-dark: hsla(220, 5%, 100%, 0.01);
  --ui-overlay-dark-max: hsla(220, 5%, 100%, 0.04);
  --ui-overlay-dark-min: hsla(220, 5%, 100%, 0.05);

  --ui-overlay-mid: hsla(220, 10%, 88%, 0.1);
  --ui-overlay-mid-max: hsla(220, 10%, 88%, 0.05);
  --ui-overlay-mid-min: hsla(220, 10%, 88%, 0.01);

  --ui-overlay-light: hsla(220, 5%, 5%, 0.15);
  --ui-overlay-light-max: hsla(220, 5%, 5%, 0.2);
  --ui-overlay-light-min: hsla(220, 5%, 5%, 0.04);
  --ui-overlay-sort: hsla(220, 100%, 10%, 0.02);

  --ui-auth-background-image: none;
}


html {
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  border-top: 6px rgba(255, 255, 255, 0) solid;
  border-bottom: 6px rgba(255, 255, 255, 0) solid;
  background-color: rgb(10, 10, 10);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #333;
  border: 4px rgba(255, 255, 255, 0) solid;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #222;
  border: 4px rgba(255, 255, 255, 0) solid;
  background-clip: padding-box;
}

.buttons-group {
  display: flex;
  gap: 5px;
  justify-content: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.page {
  animation: fade-in 300ms;
}

.slides {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;

  .slide {
    height: calc(100vh - 60px);
    background-color: transparent;

    h1 span {
      background-color: #4158D0;
      background-image: linear-gradient(45deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .columns {
      display: flex;
      gap: 20px;
      align-items: center;

      .column {
        padding: 50px;
        box-sizing: border-box;
        width: 100%;
      }
      .flex {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
    }

    &.flex {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .slide-content {
        text-align: center;
        max-width: 1300px;
      }
    }

    &.main {
      .slide-bg {
        position: absolute;
        background-image: url(./assets/jpg/background.jpg);
        background-size: 190%;
        opacity: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      .slide-content {
        max-width: 700px;

        .buttons-group {
          margin-top: 50px;
          gap: 10px;
        }

        h3 {
          max-width: 500px;
          margin: auto;

          span {
            font-weight: 400;
          }
        }
      }
    }

    .cards-wrapper {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      margin: auto;

      +button {
        margin: auto;
        margin-top: 40px;
      }
    }

    button {
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
      border: none;
      appearance: none;
      background-color: rgba(255, 255, 255, .1);
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      backdrop-filter: blur(10px);
      display: flex;
      gap: 8px;

      &.primary {
        background-color: white;
        color: black;
      }

      &:hover {
        opacity: .8;
      }

      &:active {
        opacity: .5;
      }
    }
  }
}